<a href="https://colab.research.google.com/github/yasminbv/DataScience/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print('Your name is ',name,'. Your age is ',age)

What is your name? Yasmin
What is your age? 20
Your name is  Yasmin . Your age is  20

In [5]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54

if (a==b):
  print('a is equal to b')
else:
  print('a is not equal to b')

a is not equal to b

In [14]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54

if (a>b):
  print('a is greater than b')
elif (a<b):
  print('a is less than b')
else:
  print('a is equal to b')

a is less than b

In [16]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6,1):
  print(k)

1
2
3
4
5

In [18]:
#Q5-Using while loop, print 5,4,3,2,1
for i in range(5,0,-1):
  print(i)

5
4
3
2
1

In [28]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for i in range(10,-1,-2):
  if (i!=8):
   print(i)

10
6
4
2
0

In [30]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))

def age(birth_year):
  import datetime
  today=datetime.date.today()
  year=int(today.strftime('%Y'))
  return year-birth_year
print(age(1994))

29

In [38]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(x,y):
    return x+y
  def substraction(x,y):
    return x-y
  def multiplication(x,y):
    return x*y
  def division(x,y):
    return x/y
arithmetic.division(3,4)

0.75

In [39]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
num=3
sum=0
for value in range(1, num + 1):
  sum = sum + value
print(sum)

6

In [62]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list. 
ls=[]
import numpy as np
for i in range(0,10):
     ls.append(np.random.rand()*1)
ls[:3]

[0.08174110150432579, 0.8341058541925706, 0.018906927564327658]

In [8]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15
for i in range(n-n+1,n+1):
   if((i%3==0)):
      print(i)

3
6
9
12
15